ul li a {
    text-decoration: none;
    color: black;
}
ul li a:visited {
    color: black;
}
ul li a:hover {
    color: lightseagreen;
    transition: color 0.2s ease;
}
ul li a.current-page-link {
    text-decoration-line: underline;
    text-decoration-color: red;
    text-underline-offset: 5px;
}

/* ハンバーガーメニューを作ろう */
#mainNav {
    background-color: #f4f4f4;
    padding-top: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;

    transform: translateY(-100%);
    transition: transform 0.4s cubic-bezier(0.7, 0, 0.2, 1);
}
/* JS用クラス */
#mainNav.active {
    transform: translateY(0);
}

.mainNavList {
    list-style-type: none;
    padding-right: 20px;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.mainNavItem {
    font-weight: bold;
    font-size: 24px;
    margin-right: 20px;
}
.mainNavItem:last-child{
    margin-right: 0;
}

#hamburgerMenu {
    background-color: darkorchid;
    width: 75px;
    height: 75px;
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;

    transition: transform 0.4s cubic-bezier(0.7, 0, 0.2, 1);
}

.hamburgerLine {
    background-color: black;
    width: 40px;
    height: 4px;
    position: relative;
    /* アニメーションの始まり */
    transition: background-color 0s ease 0.4s;
}
.hamburgerLine::after,
.hamburgerLine::before {
    content: '';
    position: absolute;
    background-color: black;
    width: 100%;
    height: 4px;
    left: 0;
    /* 線の回転・位置 */
    transition: transform 0.4s ease, top 0.4s ease 0.4s;
}
.hamburgerLine::after {
    top: -12px
}
.hamburgerLine::before {
    top: 12px
}
/* --- アニメーションクラス --- */
#hamburgerMenu.open .hamburgerLine {
    background-color: transparent; /* 透明 */
}
#hamburgerMenu.open .hamburgerLine::before {
    top: 0;
    transform: rotate(45deg);
    transition: top 0.4s ease, transform 0.4s ease 0.4s;
}
#hamburgerMenu.open .hamburgerLine::after {
    top: 0;
    transform: rotate(-45deg);
    transition: top 0.4s ease, transform 0.4s ease 0.4s;
}