.weather-sunny {
    color: blue;
}

.weather-cloudy {
    color: gray;
}

.weather-rainy {
    color: darkblue;
}

#toggleButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#toggleButton:hover {
    background-color: #0056b3;
    color: yellow;
    border: 1px solid black;
}

#styledBox {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    margin-top: 10px;
}

.red {
    background-color: red;
    color: white;
}
.blue {
    background-color: blue;
    color: white;
}
.large-font {
    font-size: 24px;
    font-weight: bold;
}

/* お問い合わせ */
#contact {
    height: 8000px;
    background-color: #e0f2f7;
    padding: 50px;
    text-align: center;
    margin-top: 100px;
}